<div class="login_page_main login_default_style">	
	<div class="login_header">
		<span>Log In or</span> 
		<%= link_to sign_up_path do %>
			<span style="color: #4c98e6;">Sign UP</span>
		<% end %>
	</div>
	
	<div class="alternate_login">
		<div style="width: 50%;float:left;text-align: left;">
			<span class="btn btn-primary" style="padding: 5px 20px;font-size: 13px;">Facebook</span>
		</div>
		<div style="width: 50%;float:left;text-align: right;">
			<span class="btn btn-danger" style="padding: 5px 20px;font-size: 13px;">Google+</span>
		</div>
	</div>
	
	<div class="sword strike">
		<span style="float: left;width: 100%;text-align: center;">
			<span class="or_span">or</span>
		</span>
	</div>
	<div style="color: red;font-size: 12px;"><%=flash[:error]%></div>
	<div style="color: green;font-size: 12px;"><%=flash[:notice]%></div>
	<%= form_with(scope: :sign_in, url: sessions_create_path) do |f| %>
	  <div class="field login_fields" style="margin-left: auto;margin-right: auto;">
	    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address", class: "login_textbox"  %>
	  </div>
	
	  <div class="field login_fields" style="margin-left: auto;margin-right: auto;">
	    <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "login_textbox" %>
	  </div>
	
	  <div class="actions login_fields" style="margin-left: auto;margin-right: auto;">
	    <%= f.submit "Log in", class: "login_button  btn btn-info"  %>
	  </div>
	<% end %>

</div>
